.blacklist-btn {
    --cui-btn-color: #e4033b;
    --cui-btn-border-color: #e4033b;
    --cui-btn-hover-color: rgb(255, 255, 255);
    --cui-btn-hover-bg: #e4033b;
    --cui-btn-hover-border-color: #e4033b;
    --cui-btn-focus-shadow-rgb: 228, 3, 59;
    --cui-btn-active-color: rgb(255, 255, 255);
    --cui-btn-active-bg: #e4033b;
    --cui-btn-active-border-color: #e4033b;
    --cui-btn-active-shadow: inset 0 3px 5px #e4033b1b;
    --cui-btn-disabled-color: #e4033b;
    --cui-btn-disabled-bg: transparent;
    --cui-gradient: none;
}

.activate-btn {
    --cui-btn-color: #39cdcc;
    --cui-btn-border-color: #39cdcc;
    --cui-btn-hover-color: rgb(255, 255, 255);
    --cui-btn-hover-bg: #39cdcc;
    --cui-btn-hover-border-color: #39cdcc;
    --cui-btn-focus-shadow-rgb: 57, 205, 204;
    --cui-btn-active-color: rgb(255, 255, 255);
    --cui-btn-active-bg: #39cdcc;
    --cui-btn-active-border-color: #39cdcc;
    --cui-btn-active-shadow: inset 0 3px 5px #39cdcd11;
    --cui-btn-disabled-color: #39cdcc;
    --cui-btn-disabled-bg: transparent;
    --cui-gradient: none;
}

.login-cta-btn {
    --cui-btn-color: rgb(255, 255, 255);
    --cui-btn-border-color: #39cdcc;
    --cui-btn-hover-color: rgb(255, 255, 255);
    --cui-btn-hover-bg: #39cdcc;
    --cui-btn-hover-border-color: #39cdcc;
    --cui-btn-focus-shadow-rgb: 57, 205, 204;
    --cui-btn-active-color: rgb(255, 255, 255);
    --cui-btn-active-bg: #39cdcc;
    --cui-btn-active-border-color: rgb(255, 255, 255);
    --cui-btn-active-shadow: inset 0 3px 5px #39cdcd11;
    --cui-btn-disabled-color: #39cdcc;
    --cui-btn-disabled-bg: transparent;
    --cui-gradient: none;
}
