.users-dashoard {
    display: flex;
    column-gap: 30px;
    row-gap: 15px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.users-table {
    min-width: 100%;

    & .card {
        padding: 16px;
    }

    & table {
        color: $secondary-text-color;

        & tr {
            height: 51px;
        }
        & th,
        td {
            font-size: 12px;
        }

        & .users-table-header {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            & .filter-btn {
                margin-left: 15px;
            }
        }
    }
}

.users-status {
    padding: 5px 15px;
    background: #ffebf0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: max-content;
}

.md-table-fields {
    display: none;
}

.sm-md-table-fields {
    display: none;
}

@media (min-width: 796px) {
    .sm-md-table-fields {
        display: table-cell;
    }
}

@media (min-width: 960px) {
    .md-table-fields {
        display: table-cell;
    }

    .users-table {
        min-width: 100%;

        & .card {
            padding: 30px;
        }
    }
}
