.body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header-sticky {
    box-shadow: 3px 0px 20px rgb(0 0 0 / 4%);
}

.sidebar-brand {
    padding: 0 26px;
    justify-content: left;
}

.sidebar-nav {
    padding-top: 40px;
}

.icon-custom-size {
    width: 110px;
}

.nav-link-highlighted {
    color: $sidebar-nav-link-highlight-color !important;
}

.nav-icon {
    width: unset !important;
    margin-left: unset !important;
}

.nav-link {
    font-size: 13px;
}

.nav-title {
    margin: 0 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba($primary-50, 0.28) !important;
}

.main-content {
    background-color: $grey-background;
}

.card {
    box-shadow: 3px 5px 20px rgb(0 0 0 / 4%) !important;
}

.dropdown-menu {
    box-shadow: 1px 1px 20px 20px rgb(0 0 0 / 4%) !important;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    list-style: none;
    color: $secondary-text-color;
    padding-inline-start: 0px;

    & .dropdown-item {
        font-size: 12px;
    }
}

.pagination {
    margin: 0 !important;
}

.page-item {
    &:first-child {
        margin-right: 10px;
        border-radius: 7px !important;
        background: rgba(33, 63, 125, 0.1);
        border-color: transparent;

        & .page-link {
            border-radius: 7px !important;
            background: rgba(33, 63, 125, 0.1);
        }
    }
    &:last-child {
        border-radius: 7px !important;
        background: rgba(33, 63, 125, 0.1);
        border-color: transparent;

        & .page-link {
            border-radius: 7px !important;
            background: rgba(33, 63, 125, 0.1);
            margin-left: 0 !important;
        }
    }
}

.page-link.disabled,
.disabled > .page-link {
    opacity: 0.3;
}

.nav-link-active {
    background-color: rgba($primary-brand-color, 0.06);
    border-left: 4px solid $primary-brand-color;
}

@media (min-width: 960px) {
    .body {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .dropdown-container {
        padding-inline-start: 40px;
    }

    .sidebar-nav {
        padding-top: 0;
    }
}
